@tailwind base;
@tailwind components;
@tailwind utilities;

/* This removes the white bars and makes the app full screen */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #f8fafc;
}
